* {
  font-family: "Roboto", sans-serif;
}

.app {
  height: 100vh;
  .header {
    margin-top: 100px;
    text-align: center;
    color: rgb(80, 80, 230);
  }
  .container {
    width: 600px;
    max-height: 600px;
    margin: auto;
    border-radius: 10px;
    display: flex;

    .arrow {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .box {
      flex: 1;
    }
  }
}
